
<div align="center">
	<ul class="pagination">
		<li class="prev-nav">
			<a href="#" aria-label="Previous">previous</a>
		</li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li class="active"><a href="#">3 <span class="sr-only">(current)</span></a></li>
		<li class="disabled"><span><span aria-hidden="true">...</span></span></li>
		<li><a href="#">12</a></li>
		<li><a href="#">13</a></li>
		<li><a href="#">14</a></li>
		<li class="next-nav">
			<a href="#" aria-label="Next">next</a>
		</li>
	</ul>
</div>