<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Website</title>

  <link href="./css/main.css" rel="stylesheet">
</head>
<body class="{% block body_class %}{% endblock %}">

{% block modal %}{% endblock %}

<div class="st-container">

  <header class="top-header navbar-fixed-top">
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="mini-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Support</a>
          </li>
          <li>
            <a href="#">Join Our Newsletter</a>
          </li>
          <li>
            <a href="#">
              <span class="flag-icon flag-icon-au flag-icon-squared"></span>
              Australia
            </a>
          </li>
          <li>
            <a href="#">
              <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
              UK
            </a>
          </li>
          <li>
            <a href="#">
              <span class="flag-icon flag-icon-il flag-icon-squared"></span>
              Israel
            </a>
          </li>
          <li>
            <a href="#">עברית</a>
          </li>
          <li>
            <form action="" class="nav-search-form">
              <input type="text" class="" id="search-field" name="s" placeholder="Search" value="">
              <input type="hidden" name="lang" value="">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </li>
        </ul>
      </div>
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed mobile_nav_toggle">
            <span class="nav-toggle-label">Menu</span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bars">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
          </button>
          <a class="navbar-brand" href="/"><img src="./img/logo2.jpg" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#">Company</a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="#">Overview & Vision</a></li>
                
                <li class="">
                  <a href="#" class="">PRIORITY ENTERPRISE</a>
                  <ul class="">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
        
                <li><a href="#">About Us</a></li>
                <li><a href="#">Management Board</a></li>
                <li><a href="#">Advisory Board</a></li>
                <li><a href="#">Corporate Responsibility</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Channel Partners</a></li>
                <li><a href="#">Strategic Partners</a></li>
                <li><a href="#">Login</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#">products</a>
              <ul class="dropdown-menu dropdown-menu-left">
              
              
              
                <li><a href="home.html">Home</a></li>
                <li><a href="txt.html">TXT</a></li>
                <li><a href="customers.html">Customers</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="CustomerStories.html">Customer Stories</a></li>
                <li><a href="news.html">News</a></li>
                
                
                
              </ul>
            </li>
            <!-- <li><a href="#">products </a></li> -->
            <li><a href="#">solutions </a></li>
            <li><a href="#">Customers </a></li>
            <li><a href="#">news & events </a></li>
            <li><a href="#">contact us </a></li>
            <li><a href="#">Website systems </a></li>
            
            
            
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  
  <div id="mobile_nav">
    <span class="overlay mobile_nav_toggle"></span>
    <div class="mobile-nav-container">
        
      <button type="button" class="close mobile_nav_toggle"><span aria-hidden="true">&times;</span></button>
      
      <ul class="">
        <li>
          <a href="#">Company         </a>
            
          <ul class="">
            <li><a href="#">Specification</a></li>
            <li>
              <a href="#">Development   </a>
              
              <ul class="">
                <li><a href="#">Sub items         </a></li>
                <li><a href="#">Action         </a></li>
                <li><a href="#">Something else         </a></li>
              </ul>
            </li>
            <li><a href="#">Lorem Ipsum Amores</a></li>
            <li><a href="#">Extrus intro parados</a></li>
          </ul>
        </li>
        <li class="current-menu-item active"><a href="#">Products         </a></li>
        <li><a href="#">Solutions         </a></li>
        <li><a href="#">Customers         </a></li>
        <li><a href="#">News & Events         </a></li>
        <li><a href="#">Contact us         </a></li>
        <li><a href="#">Website Systems         </a></li>
        
        <li><a href="#">Support</a></li>
        <li><a href="#">Australia</a></li>
        <li><a href="#">UK</a></li>
        <li><a href="#">Israel</a></li>
        <li><a href="#">עברית</a></li>
      </ul>
    
    </div>
  </div>
  
  <div class="top-header-placeholder"></div>
  
  
  {% block content %}{% endblock %}
  
  <!-- <div style="height:2000px;"></div> -->
  <div class="clearfix"></div>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="footer-content">
            <p>Website was established to provide technical services to Priority customers in all technical aspects, so that customers have one focal point for any computing issues. The services include providing equipment and accompanying software required, installation and ongoing technical support.</p>            
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="footer-aside">
            <div class="title">GET IN TOUCH</div>
            <ul class="solcial-links">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
          <div class="footer-aside">
            <form>
              <div class="newsletter-form">
                <div class="row row-no-padding">
                  <div class="col-md-10">
                    <div class="form-group"><input type="text" class="form-control" placeholder="full name *"></div>
                  </div>
                </div>
                <div class="row row-no-padding">
                  <div class="col-md-10">
                    <div class="form-group">
                      <input type="email" class="form-control wall-right" placeholder="email *">
                    </div>
                  </div>
                  <div class="col-md-2"><button type="submit" class="btn btn-sm btn-success wall-left">
                    <i class="i-img-arrow-right"></i>
                    
                  </button></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-footer">
      <div class="footer-logo"></div>
      <div class="container">
        <div class="copy">© Website 2015, All rights reserved.   Terms & Conditions </div>
        <div class="footer-menu hidden-xs hidden-sm">
        
          <ul class="menu">
            
            <li><a href="#">Company         </a></li>
            <li><a href="#">Products         </a></li>
            <li><a href="#">Solutions         </a></li>
            <li><a href="#">Customers         </a></li>
            <li><a href="#">News & Events         </a></li>
            <li><a href="#">Contact us         </a></li>
            <li><a href="#">Website Systems         </a></li>
            <li><a href="#">Sitemap</a></li>
          
          </ul>
          
        </div>
      </div>
    </div>
  </footer>
  
</div>
<!-- 
  <script src="../bower_components/jquery/dist/jquery.js"></script>
-->
  <script src="./js/main.js"></script>

  {% block javascript %}{% endblock %}
</body>
</html>